* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px auto;
}

.home {
    display: grid;
    grid-template-rows: 150px auto 300px;
    grid-template-columns: 20% 60% 20%;

    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
}

.page-header {
    grid-area: header;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("./images/header-background.jpg");

    border: 0px solid black;
}

.page-header-container {
    width: 80%;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 0px solid black;
}

.page-header__logo {
    flex: 1 1 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 0px solid black;
}

.page-header__logo-icon {
    width: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.page-header__hotline {
    flex: 2 1 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid black;
    font-size: 15px;
    color: red;
}

.page-header__hotline a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.page-header__search {
    flex: 1 1 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid black;
    gap: 0;
}

.page-header__search--input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 20px;
    border-right-width: 1px;
}

.page-header__search--button {
    width: 10%;
    height: 30px;
    background-color: orange;
    border: 2px solid black;
    border-left-width: 1px;
}

.page-header__tool {
    flex: 1 1 30%;

    display: flex;
    justify-content: flex-end;
    align-content: center;

    border: 0px solid black;
}

.page-header__tool-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 0px solid black;
    margin-left: 10px;
    font-size: 13px;
}

.page-header__tool-item > i {
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.page-header-navbar {
    width: 80%;

    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #9EBAFE, #B6C0C5);
}

.page-header-navbar__link {
    flex: 1.5 1 15%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.page-header-navbar__link:hover {
    background-image: url(./images/header-background.png);
    font-size: 25px;
    padding: 0px;
    padding-top: 5px;
    transition: all 0.3s ease-in-out;
}

.page-header__search--button:hover {
    cursor: pointer;
    background-image: url(./images/header-background.png);
}

.page-header__tool-item>i:hover {
    cursor: pointer;
    background: url(./images/header-background.png);
}

.page-footer {
    background-color: black;
}